#menu-profile, #menu-profile ul
{
    /* Liste */
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 21px;
    text-align: center;
}

#menu-profile
{
    /* Ensemble du menu */
    font-weight: bold;
    font-family: Arial;
    font-size: 12px;
}

#menu-profile a 
{
    /* Contenu des listes*/
    display: block;
    padding: 0;
    background: #000;
    color: #fff;
    text-decoration: none;
    width: 144px;
}

#menu-profile li
{
    float: left;
    border-right: 1px solid #fff;
}

html>body #menu-profile li
{
    position: absolute;
    width: 144px;
    left: -999em;
}

